@{
    ViewBag.Title = "MessageMe";
}
<div ng-controller="homeController">


    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Player: <input />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="name in names">
                    <td>
                        {{name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>