@{
    ViewBag.Title = "MessageMe";
}

<div class="row">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Player: <input ng-model="name" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr> 
                <td>
                    Searching: {{name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>